
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ddeeaa;
    box-sizing: border-box;
}

.container{
    background-color: white;
    max-width: 800px;
    margin: auto;
    border: 1px solid #99aa41;
}

.entete{
    display: flex;
    justify-content: space-between;
}

.entete>:nth-child(2){
    padding: 20px;
}

header{
    box-sizing: border-box;
    line-height: 0px;
}

nav{
    display: flex;
    
}

nav a{
    text-decoration: none;
    color: white;
}

nav div{
    background-color: #8fd237;
    color: white;
    width: 100%;
    text-align: center;
    border-right: 1px solid ;
    padding: 5px 0px;
}

.sect1{
    display: flex;
    padding-top: 30px;
}

h1,
h2{
    color: #99aa41;
    margin: 0%;
}

h2{
    padding-left: 10px;
}

.titre{
    display: flex;
    border-bottom: 1px solid #99aa41;
    min-width: 500px;
}

.vertical{
    margin: 0 20px;
}

.img_t{
    padding-top: 5px;
}

.ss-titre{
    border-bottom: 1px solid #99aa41;
    border-left: 1px solid #99aa41;
    margin-top: 30px;
    margin-left: 30px;
}

.txt{
    padding: 0 20px;
}

p{
    line-height: 35px;
}

span{
    background-color: #fffb08;
}

.txt_bottom{
    text-align: right;
    color: #8fd237;
}

.indentation { 
    text-indent: 30px;
} 
/* p::first-letter {
    margin-left: 30px;
  } */